@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');


html {
  font-size: 62.5%;
}


body {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
}


@media (max-width: 575.98px){
    html{
        font-size:55%
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    html{
        font-size:58%
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    html{
        font-size:60%
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    html{
        font-size:62.5%
    }
}
@media (min-width: 1200px){
    html{
        font-size:62.5%
    }
}


.btn {
  border: 0.3rem solid #E6E6FA;
  color: black;
  font-size: 2.0rem;
  font-weight: bold;

  &:hover {
    color: #ff7bac;
    background-color: #ff7bac;
  }
}




.photo{
  width: 60%;
}

section.issaMe{
  margin-top: -50px;
}

.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
url("./img/background.jpg");
    height:80rem;
    width:100%;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;

}
.hero #title{
  font-size: 10rem;
  font-weight: 500;
  color: white;
  text-align: center;
}
@media (max-width: 560px){
    .hero #title{
        font-size:5rem
    }
}

.hero {
  padding-top: 25rem;
  padding-bottom: 25rem;
}


.hero #about{

  text-align: center;
  font-size: 3rem;
  color: white;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


section.black {
  background-color: black;
  color: white;
}

section.white {
  background-color: white;
  color: black;
}

section.padded {
  padding-top: 6rem;
  padding-bottom: 6rem;
}




.caption {
  font-size: 1.5rem;
}


.wow li{
  color: #ff7bac;
}



section.content .container .row, section.content .container-fluid .row {
  padding-top: 3rem;
}

section.content .container .row .border-white, section.content .container-fluid .row .border-white {
  border: 0.1rem solid white;
}

section.content .container .row .border-black, section.content .container-fluid .row .border-black {
  border: 0.1rem solid black;
}

section.content .container .row .column-pad, section.content .container-fluid .row .column-pad {
  padding-top: 2rem;
}

section.footer a i {
  font-size: 4rem;
}
